.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 32px;
  padding: 50px;
  width: 50%;
}

.word-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
